## Load Libraries and Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
complaint_data_csv = '../data/NYPD_Complaint_Data_Historic_20241014.csv'

In [3]:
df = pd.read_csv(complaint_data_csv)
df

/tmp/ipykernel_25100/1619306799.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(complaint_data_csv)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,25640826H10611,12/05/2006,10:38:00,NaN,(null),NaN,12/05/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO QUEENS NORTH,(null),25-44,WHITE HISPANIC,M
1,16631501H8965,08/25/1973,12:15:00,NaN,(null),NaN,05/29/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO MAN NORTH,(null),45-64,BLACK,F
2,11118212H8714,04/22/2006,16:50:00,NaN,(null),NaN,04/22/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN SOUTH,(null),45-64,BLACK,M
3,23471265H9399,07/20/2006,22:37:00,NaN,(null),NaN,07/20/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN SOUTH,(null),18-24,BLACK,M
4,24565927H10142,04/14/2006,02:37:00,NaN,(null),NaN,04/14/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,...,(null),NaN,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,(null),45-64,BLACK,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8914833,272431385,08/01/2023,03:45:00,08/01/2023,03:50:00,105.0,08/04/2023,341,PETIT LARCENY,321.0,...,U,NaN,40.697605,-73.727707,"(40.697605, -73.727707)",PATROL BORO QUEENS SOUTH,(null),65+,BLACK,M
8914834,273033152,08/16/2023,21:00:00,08/16/2023,21:05:00,105.0,08/17/2023,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,F,NaN,40.718172,-73.736134,"(40.71817168981014, -73.73613374614645)",PATROL BORO QUEENS SOUTH,(null),25-44,BLACK,F
8914835,270041815,06/19/2023,01:50:00,06/19/2023,04:30:00,105.0,06/19/2023,107,BURGLARY,223.0,...,U,NaN,40.663804,-73.731601,"(40.663804, -73.731601)",PATROL BORO QUEENS SOUTH,(null),45-64,ASIAN / PACIFIC ISLANDER,M
8914836,273151416,08/19/2023,15:37:00,08/19/2023,15:52:00,113.0,08/19/2023,126,MISCELLANEOUS PENAL LAW,117.0,...,F,NaN,40.697672,-73.750627,"(40.697672, -73.750627)",PATROL BORO QUEENS SOUTH,(null),UNKNOWN,UNKNOWN,M
8914837,276267757,10/19/2023,01:00:00,10/19/2023,01:25:00,105.0,10/19/2023,578,HARRASSMENT 2,638.0,...,U,NaN,40.735556,-73.710582,"(40.735556, -73.710582)",PATROL BORO QUEENS SOUTH,(null),45-64,ASIAN / PACIFIC ISLANDER,F

In [4]:
# Convert string ('null') values into nans
df = df.replace('(null)', np.nan)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8914838 entries, 0 to 8914837
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         object
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  int64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(7), int64(2), object(26)
memory usage: 2.3+ GB

In [6]:
df.isnull().sum()

CMPLNT_NUM                 0
CMPLNT_FR_DT             655
CMPLNT_FR_TM              48
CMPLNT_TO_DT         1818958
CMPLNT_TO_TM         1813518
ADDR_PCT_CD              771
RPT_DT                     0
KY_CD                      0
OFNS_DESC              18886
PD_CD                   7593
PD_DESC                 7593
CRM_ATPT_CPTD_CD         168
LAW_CAT_CD                 0
BORO_NM                 7884
LOC_OF_OCCUR_DESC    1821966
PREM_TYP_DESC          39001
JURIS_DESC                 0
JURISDICTION_CODE          0
PARKS_NM             8877278
HADEVELOPT           8883190
HOUSING_PSA          8244451
X_COORD_CD               466
Y_COORD_CD               466
SUSP_AGE_GROUP       4583671
SUSP_RACE            3687178
SUSP_SEX             3820549
TRANSIT_DISTRICT     8716793
Latitude                 466
Longitude                466
Lat_Lon                  466
PATROL_BORO              587
STATION_NAME         8716793
VIC_AGE_GROUP        1623568
VIC_RACE                 671
VIC_SEX                  308
dtype: int64

## Missing Values

In [7]:
# Complaint date and time occurrences are spread across 2 columns for exact vs. ending
# Can compress these values into one column to just capture date and time
df.CMPLNT_FR_DT = df.CMPLNT_FR_DT.fillna(df.CMPLNT_TO_DT)
df.CMPLNT_FR_TM = df.CMPLNT_FR_TM.fillna(df.CMPLNT_TO_TM)

# Drop remaining null values and superfluous date and time columns
df = df[~df['CMPLNT_FR_DT'].isnull()]
df = df[~df['CMPLNT_FR_TM'].isnull()]
df.drop(['CMPLNT_TO_DT', 'CMPLNT_TO_TM'], axis = 1, inplace = True)

In [8]:
# All of the missing location values appear to be in the same rows
df[df['Latitude'].isnull()]

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,25640826H10611,12/05/2006,10:38:00,NaN,12/05/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,NaN,NaN,NaN,PATROL BORO QUEENS NORTH,NaN,25-44,WHITE HISPANIC,M
1,16631501H8965,08/25/1973,12:15:00,NaN,05/29/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,NaN,NaN,NaN,PATROL BORO MAN NORTH,NaN,45-64,BLACK,F
2,11118212H8714,04/22/2006,16:50:00,NaN,04/22/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,NaN,NaN,NaN,PATROL BORO BKLYN SOUTH,NaN,45-64,BLACK,M
3,23471265H9399,07/20/2006,22:37:00,NaN,07/20/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,NaN,NaN,NaN,PATROL BORO BKLYN SOUTH,NaN,18-24,BLACK,M
4,24565927H10142,04/14/2006,02:37:00,NaN,04/14/2006,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,NaN,NaN,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,NaN,45-64,BLACK,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8907414,268554247H1,05/19/2023,15:52:00,NaN,05/19/2023,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,NaN,NaN,NaN,PATROL BORO STATEN ISLAND,NaN,<18,BLACK,M
8909581,277525074H3,11/14/2023,07:05:00,NaN,11/14/2023,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,NaN,NaN,NaN,PATROL BORO QUEENS SOUTH,NaN,45-64,BLACK,M
8910318,269307857H1,06/04/2023,00:20:00,NaN,06/04/2023,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,NaN,NaN,NaN,PATROL BORO BKLYN NORTH,NaN,25-44,BLACK,M
8912596,270206142H1,06/21/2023,16:25:00,NaN,06/21/2023,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,NaN,NaN,NaN,PATROL BORO MAN SOUTH,NaN,25-44,BLACK,M
8913795,276327599H1,10/19/2023,12:02:00,NaN,10/19/2023,101,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,COMPLETED,...,M,NaN,NaN,NaN,NaN,PATROL BORO QUEENS SOUTH,NaN,65+,ASIAN / PACIFIC ISLANDER,M

In [9]:
# Remove null values and drop extra location columns that are not needed
# Lat_Lon is captured by Latitude and Longitude, and X/Y COORC CD are not needed with latitude and longitude
df = df[~df['Latitude'].isnull()]
df.drop(['X_COORD_CD', 'Y_COORD_CD', 'Lat_Lon'], axis = 1, inplace = True)

In [10]:
df.isnull().sum()

CMPLNT_NUM                 0
CMPLNT_FR_DT               0
CMPLNT_FR_TM               0
ADDR_PCT_CD              305
RPT_DT                     0
KY_CD                      0
OFNS_DESC              18882
PD_CD                   7510
PD_DESC                 7510
CRM_ATPT_CPTD_CD         168
LAW_CAT_CD                 0
BORO_NM                 7883
LOC_OF_OCCUR_DESC    1821553
PREM_TYP_DESC          38565
JURIS_DESC                 0
JURISDICTION_CODE          0
PARKS_NM             8876654
HADEVELOPT           8882569
HOUSING_PSA          8243845
SUSP_AGE_GROUP       4583193
SUSP_RACE            3686801
SUSP_SEX             3820152
TRANSIT_DISTRICT     8716171
Latitude                   0
Longitude                  0
PATROL_BORO              208
STATION_NAME         8716171
VIC_AGE_GROUP        1623480
VIC_RACE                 671
VIC_SEX                  308
dtype: int64

In [11]:
# Some columns are filled with mostly null data and thus are not useful
missing_ratios = df.isnull().sum() / len(df.index)
highly_missing = missing_ratios[missing_ratios > 0.9]
highly_missing_index = highly_missing.index.tolist()
highly_missing

PARKS_NM            0.995787
HADEVELOPT          0.996450
HOUSING_PSA         0.924798
TRANSIT_DISTRICT    0.977783
STATION_NAME        0.977783
dtype: float64

In [12]:
# Drop these columns that are mostly null
df.drop([*highly_missing_index], axis = 1, inplace = True)

In [13]:
# Moderately large amounts of missing values, investigate more closely
moderately_missing = missing_ratios[(missing_ratios > 0.1) & (missing_ratios < 0.9)]
moderately_missing_index = moderately_missing.index.tolist()
moderately_missing

LOC_OF_OCCUR_DESC    0.204343
SUSP_AGE_GROUP       0.514144
SUSP_RACE            0.413587
SUSP_SEX             0.428546
VIC_AGE_GROUP        0.182123
dtype: float64

In [14]:
# Extract value counts to investigate
val_counts = [df[c].value_counts(normalize = True) for c in moderately_missing_index]

In [15]:
# Probably can impute using mode = INSIDE
val_counts[0]

LOC_OF_OCCUR_DESC
INSIDE         0.643600
FRONT OF       0.298222
OPPOSITE OF    0.031879
REAR OF        0.025650
OUTSIDE        0.000650
Name: proportion, dtype: float64

In [16]:
# Can impute using UNKNOWN, note that -5 is not a good value, will need to validate entries
val_counts[1]

SUSP_AGE_GROUP
25-44      3.757174e-01
UNKNOWN    2.942161e-01
18-24      1.398670e-01
45-64      1.309566e-01
<18        4.706211e-02
               ...
3735       2.308924e-07
1976       2.308924e-07
534        2.308924e-07
639        2.308924e-07
-5         2.308924e-07
Name: proportion, Length: 274, dtype: float64

In [17]:
# Can impute using UNKNOWN
val_counts[2]

SUSP_RACE
BLACK                             0.368214
UNKNOWN                           0.273142
WHITE HISPANIC                    0.167467
WHITE                             0.103600
BLACK HISPANIC                    0.051784
ASIAN / PACIFIC ISLANDER          0.032967
AMERICAN INDIAN/ALASKAN NATIVE    0.002824
OTHER                             0.000002
Name: proportion, dtype: float64

In [18]:
# Can impute using U = Unknown
val_counts[3]

SUSP_SEX
M    0.616076
U    0.195583
F    0.188341
Name: proportion, dtype: float64

In [19]:
# Can impute using UNKNOWN, note that -33 is not a good value, will need to validate entries
val_counts[4]

VIC_AGE_GROUP
25-44      4.077924e-01
45-64      2.113687e-01
UNKNOWN    1.543798e-01
18-24      1.239340e-01
<18        5.736651e-02
               ...
650        1.371604e-07
213        1.371604e-07
1480       1.371604e-07
1353       1.371604e-07
-33        1.371604e-07
Name: proportion, Length: 283, dtype: float64

In [20]:
# Impute values
df[moderately_missing_index[0]] = df[moderately_missing_index[0]].fillna(df[moderately_missing_index[0]].mode()[0])
df[moderately_missing_index[1]] = df[moderately_missing_index[1]].fillna('UNKNOWN')
df[moderately_missing_index[2]] = df[moderately_missing_index[2]].fillna('UNKNOWN')
df[moderately_missing_index[3]] = df[moderately_missing_index[3]].fillna('U')
df[moderately_missing_index[4]] = df[moderately_missing_index[4]].fillna('UNKNOWN')

In [21]:
# The rest of the missing values represent tiny amounts of the overall data
# Rather than introduce biases via imputation, we will drop these records
low_missing = missing_ratios[(missing_ratios <= 0.1) & (missing_ratios > 0)]
low_missing_index = low_missing.index.tolist()
low_missing

ADDR_PCT_CD         0.000034
OFNS_DESC           0.002118
PD_CD               0.000842
PD_DESC             0.000842
CRM_ATPT_CPTD_CD    0.000019
BORO_NM             0.000884
PREM_TYP_DESC       0.004326
PATROL_BORO         0.000023
VIC_RACE            0.000075
VIC_SEX             0.000035
dtype: float64

In [22]:
# Drop missing values
for c in low_missing_index:
    df = df[~df[c].isnull()]

In [23]:
df.isnull().sum()

CMPLNT_NUM           0
CMPLNT_FR_DT         0
CMPLNT_FR_TM         0
ADDR_PCT_CD          0
RPT_DT               0
KY_CD                0
OFNS_DESC            0
PD_CD                0
PD_DESC              0
CRM_ATPT_CPTD_CD     0
LAW_CAT_CD           0
BORO_NM              0
LOC_OF_OCCUR_DESC    0
PREM_TYP_DESC        0
JURIS_DESC           0
JURISDICTION_CODE    0
SUSP_AGE_GROUP       0
SUSP_RACE            0
SUSP_SEX             0
Latitude             0
Longitude            0
PATROL_BORO          0
VIC_AGE_GROUP        0
VIC_RACE             0
VIC_SEX              0
dtype: int64

In [24]:
# Data loss after all above cleaning
print(f'Data Loss: {(100 * (8914838 - len(df.index)) / 8914838):.3f} %')

Data Loss: 0.792 %

## Data Validation and Type Conversion

In [25]:
df.columns

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'ADDR_PCT_CD', 'RPT_DT',
       'KY_CD', 'OFNS_DESC', 'PD_CD', 'PD_DESC', 'CRM_ATPT_CPTD_CD',
       'LAW_CAT_CD', 'BORO_NM', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC',
       'JURIS_DESC', 'JURISDICTION_CODE', 'SUSP_AGE_GROUP', 'SUSP_RACE',
       'SUSP_SEX', 'Latitude', 'Longitude', 'PATROL_BORO', 'VIC_AGE_GROUP',
       'VIC_RACE', 'VIC_SEX'],
      dtype='object')

In [26]:
# Data runs from 2006 to 2023 according to the official documentation
# Difficult to tell if the bad years correspond to mistyped millenium or century
years = df.CMPLNT_FR_DT.apply(lambda x: int(x[-4:])).unique()
years.sort()
years

array([1010, 1011, 1012, 1013, 1015, 1016, 1017, 1018, 1019, 1020, 1021,
       1022, 1023, 1025, 1026, 1027, 1028, 1029, 1900, 1905, 1906, 1908,
       1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919,
       1920, 1921, 1922, 1923, 1928, 1929, 1930, 1938, 1940, 1941, 1942,
       1945, 1946, 1947, 1948, 1949, 1950, 1951, 1954, 1955, 1956, 1957,
       1958, 1959, 1960, 1961, 1962, 1964, 1965, 1966, 1967, 1968, 1969,
       1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [27]:
# Dropping the data before 2006 only loses 0.2% of the data
len(df.loc[df.CMPLNT_FR_DT.apply(lambda x: int(x[-4:])) < 2006].index) / len(df.index)

0.002298326304670757

In [28]:
# Drop data and convert date to datetime data type
df = df.loc[df.CMPLNT_FR_DT.apply(lambda x: int(x[-4:])) >= 2006]
df.CMPLNT_FR_DT = pd.to_datetime(df.CMPLNT_FR_DT)
df.RPT_DT = pd.to_datetime(df.RPT_DT)

In [29]:
# Change time data to datetime and extract time to verify proper formatting (data type will not change)
df.CMPLNT_FR_TM = pd.to_datetime(df.CMPLNT_FR_TM, format = '%H:%M:%S').dt.time

In [30]:
# A number of offense codes have multiple descriptions
from collections import defaultdict
def multiple_descriptions(code_col, desc_col):
    index = df[[code_col, desc_col]].value_counts().sort_index().index
    dict_ = defaultdict(list)
    
    for code, desc in index:
        dict_[code].append(desc)
        
    multi_dict = {k: v for k, v in dict_.items() if len(v) > 1}

    return multi_dict

multi_ky_ofns = multiple_descriptions('KY_CD', 'OFNS_DESC')
multi_ky_ofns

{116: ['FELONY SEX CRIMES', 'SEX CRIMES'],
 120: ['CHILD ABANDONMENT/NON SUPPORT', 'ENDAN WELFARE INCOMP'],
 124: ['KIDNAPPING',
  'KIDNAPPING & RELATED OFFENSES',
  'KIDNAPPING AND RELATED OFFENSES'],
 125: ['NYS LAWS-UNCLASSIFIED FELONY',
  'OTHER STATE LAWS (NON PENAL LA',
  'VEHICLE AND TRAFFIC LAWS'],
 343: ['OTHER OFFENSES RELATED TO THEF', 'THEFT OF SERVICES'],
 345: ['ENDAN WELFARE INCOMP', 'OFFENSES RELATED TO CHILDREN'],
 364: ['AGRICULTURE & MRKTS LAW-UNCLASSIFIED',
  'OTHER STATE LAWS (NON PENAL LA',
  'OTHER STATE LAWS (NON PENAL LAW)'],
 677: ['NYS LAWS-UNCLASSIFIED VIOLATION', 'OTHER STATE LAWS']}

In [31]:
# Replace the descriptions using self-chosen mapping
def replace_description(code_desc_dict, index_map):
    for kv, ix in list(zip(list(code_desc_dict.items()), index_map)):
        df.loc[df.KY_CD == kv[0], 'OFNS_DESC'] = kv[1][ix]
        
    return

index_map = [1, 0, 0, 2, 0, 1, 2, 1]
replace_description(multi_ky_ofns, index_map)

In [32]:
# Checking the same for PD_CD and PD_DESC - only one description per code
multi_pd_desc = multiple_descriptions('PD_CD', 'PD_DESC')
multi_pd_desc

{}

In [33]:
# Checking the same for JURISDICTION_CODE and JURIS_DESC - only one description per code
multi_pd_desc = multiple_descriptions('JURISDICTION_CODE', 'JURIS_DESC')
multi_pd_desc

{}

In [34]:
# According to maps, NY longitudes should be between -74.27 and -73.68, and latitudes between 40.49 and 40.92
df = df[(df.Latitude >= 40.49) & (df.Latitude <= 40.92) & (df.Longitude >= -74.27) & (df.Longitude < -73.68)]

In [35]:
# Age group information has negative values and nonsensical values
df.SUSP_AGE_GROUP.unique()

array(['UNKNOWN', '25-44', '18-24', '45-64', '<18', '65+', '216', '171',
       '522', '205', '245', '455', '222', '175', '533', '546', '1919',
       '1956', '3334', '3131', '813', '1975', '425', '375', '939', '505',
       '537', '495', '3636', '521', '165', '940', '170', '545', '535',
       '530', '155', '1981', '324', '936', '3434', '922', '536', '325',
       '180', '334', '395', '295', '346', '582', '486', '528', '285',
       '529', '2121', '308', '385', '225', '952', '246', '265', '235',
       '2020', '185', '456', '625', '255', '335', '808', '934', '925',
       '711', '196', '921', '485', '525', '810', '914', '517', '3435',
       '445', '548', '405', '2927', '655', '305', '160', '540', '315',
       '2223', '354', '2525', '915', '565', '626', '355', '635', '518',
       '275', '3535', '164', '1818', '292', '2828', '532', '555', '435',
       '1616', '454', '2530', '32032', '190', '4040', '1515', '296',
       '2424', '3030', '3735', '1976', '534', '639', '416', '538', '229',
       '215', '708', '228', '5049', '938', '1953', '2727', '1007', '231',
       '256', '623', '946', '972', '930', '932', '945', '2009', '931',
       '917', '937', '949', '941', '1009', '933', '2010', '928', '999',
       '924', '2011', '1052', '929', '935', '980', '2012', '1011', '900',
       '912', '951', '1012', '2013', '966', '944', '965', '1014', '1032',
       '2014', '902', '959', '1046', '1013', '352', '1004', '2015', '955',
       '-948', '-2', '920', '-49', '-65', '2016', '-54', '1932', '-965',
       '1016', '-969', '-975', '327', '-974', '926', '-955', '-83',
       '-979', '-67', '923', '1017', '2017', '942', '-960', '-72', '-981',
       '1053', '-968', '927', '-953', '1933', '-42', '-972', '-971',
       '1018', '2018', '-63', '-978', '948', '1967', '-80', '-939',
       '-941', '954', '-964', '-973', '2019', '947', '1019', '-64',
       '-966', '-1', '-977', '-962', '-71', '-12', '-928', '-942', '1020',
       '1925', '2021', '-946', '953', '-69', '-947', '-60', '-33', '2022',
       '-6', '-66', '956', '-10', '-5962', '-3', '-74', '-76', '-47',
       '-961', '-951', '-55', '2023', '-62', '-956', '1022', '1023',
       '-963', '964', '-976', '-5'], dtype=object)

In [36]:
# Same for the victim age group values
df.VIC_AGE_GROUP.unique()

array(['UNKNOWN', '45-64', '18-24', '65+', '25-44', '<18', '924', '342',
       '944', '741', '807', '469', '318', '159', '942', '208', '955',
       '808', '3642', '949', '930', '1068', '939', '507', '260', '895',
       '809', '946', '919', '791', '158', '926', '929', '323', '921',
       '1553', '345', '188', '933', '927', '938', '11210', '838', '308',
       '623', '912', '334', '980', '458', '936', '708', '422', '454',
       '932', '908', '900', '922', '806', '858', '707', '961', '969',
       '925', '928', '1900', '960', '958', '250', '172', '910', '935',
       '1320', '160', '953', '152', '2006', '390', '917', '964', '943',
       '151', '509', '886', '551', '340', '500', '184', '909', '811',
       '526', '901', '10622', '711', '1957', '508', '2044', '427', '688',
       '2211', '174', '945', '913', '914', '153', '1921', '918', '315',
       '297', '321', '923', '1115', '395', '2125', '310', '562', '520',
       '650', '959', '213', '1480', '1353', '812', '951', '359', '978',
       '937', '1972', '1951', '737', '407', '2007', '10308', '1445',
       '1642', '595', '931', '940', '1590', '331', '3019', '963', '962',
       '10451', '1221', '200', '1955', '309', '979', '1230', '710', '941',
       '1963', '420', '950', '1003', '957', '934', '947', '956', '916',
       '948', '981', '954', '952', '999', '915', '971', '970', '967',
       '920', '911', '966', '1011', '1001', '983', '984', '1014', '965',
       '-948', '-939', '-884', '-39', '-902', '-48', '-7', '-971', '1013',
       '-37', '-975', '-63', '-970', '-72', '-981', '-945', '-32', '-52',
       '-45', '-973', '-40', '-972', '-70', '-2', '-61', '977', '-1',
       '-49', '-931', '-65', '-60', '-55', '-978', '-966', '-959', '-936',
       '-73', '-938', '-934', '1012', '-937', '-980', '-962', '-36',
       '-81', '-53', '-3', '-964', '-950', '-955', '-940', '-942', '-956',
       '-67', '-76', '-59', '-974', '-43', '-51', '-968', '972', '-5',
       '-943', '-952', '1017', '-4', '-958', '-71', '-56', '-954', '-961',
       '-967', '-69', '1018', '-50', '-946', '-31', '1016', '-965',
       '-963', '-935', '-960', '-62', '-921', '-27', '-6', '-57', '-11',
       '-30', '1022', '1023', '-58', '-929', '-64', '1020', '-953',
       '-932', '-10', '-33'], dtype=object)

In [37]:
# Convert nonsenical values to unknown
valid_age_ranges = ['UNKNOWN', '<18', '18-24', '25-44', '45-64', '65+']

df.SUSP_AGE_GROUP = df.SUSP_AGE_GROUP.apply(lambda x: 'UNKNOWN' if not any(x in y for y in valid_age_ranges) else x)
df.VIC_AGE_GROUP = df.VIC_AGE_GROUP.apply(lambda x: 'UNKNOWN' if not any(x in y for y in valid_age_ranges) else x)

In [38]:
# Drop columns that are not interesting for our intended use
# Location of occurrence description says whether a crime happened inside or outside
# PREM_TYP_DESC refers to the type of abode (apartment, store, etc.)
# PATROL_BORO is slightly different but mostly the same as BORO_NM which can join on other datasets better
df.drop(['LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PATROL_BORO'], axis = 1, inplace = True)

In [39]:
# Define columns for type conversions
float_to_int_categorical = ['CMPLNT_NUM', 'ADDR_PCT_CD', 'KY_CD', 'PD_CD', 'JURISDICTION_CODE']
str_to_categorical = ['OFNS_DESC', 'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM',
                      'JURIS_DESC', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX',
                      'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']

# Perform type conversions
for c in float_to_int_categorical:
    df[c] = df[c].astype(int).astype('category')
    
for c in str_to_categorical:
    df[c] = df[c].astype('category')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8823925 entries, 8 to 8914837
Data columns (total 22 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         category
 1   CMPLNT_FR_DT       datetime64[ns]
 2   CMPLNT_FR_TM       object
 3   ADDR_PCT_CD        category
 4   RPT_DT             datetime64[ns]
 5   KY_CD              category
 6   OFNS_DESC          category
 7   PD_CD              category
 8   PD_DESC            category
 9   CRM_ATPT_CPTD_CD   category
 10  LAW_CAT_CD         category
 11  BORO_NM            category
 12  JURIS_DESC         category
 13  JURISDICTION_CODE  category
 14  SUSP_AGE_GROUP     category
 15  SUSP_RACE          category
 16  SUSP_SEX           category
 17  Latitude           float64
 18  Longitude          float64
 19  VIC_AGE_GROUP      category
 20  VIC_RACE           category
 21  VIC_SEX            category
dtypes: category(17), datetime64[ns](2), float64(2), object(1)
memory usage: 914.4+ MB

In [41]:
# Load original data to compare loss of data and memory saved
original_df = pd.read_csv(complaint_data_csv)
print(f'Total Data Loss: {(100 * (len(original_df.index) - len(df.index)) / len(original_df.index)):.3f} %')
print(f'Total Memory Saved: {(original_df.memory_usage().sum() - df.memory_usage().sum()) / (1024 ** 3):.2f} GB')

/tmp/ipykernel_25100/3610014279.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  original_df = pd.read_csv(complaint_data_csv)

Total Data Loss: 1.020 %
Total Memory Saved: 1.43 GB

In [42]:
# Write cleaned data to parquet file
df.to_parquet('../data/cleaned/complaint_data_historic_cleaned.parquet.gz', index = False, compression = 'gzip')